.container-fluid{
    width: 100vw; 
    height: 100vh;
    background-color: black; 
    padding-top: 40px; 
}
.cricular_progress{
    --grados: 90deg;
    --gradosMenos : -90deg; 
    width: 12rem;
    height: 12rem;
    border-radius: 50%;  
    margin: auto; 
    background:  
    linear-gradient(
        to top,
        rgb(120, 9, 139) 50%, 
        rgba(255, 255, 255, .2) 50%  
    );
    position: relative;
    transform: rotate(var(--grados));    
    
}
.cricular_progress::before{
    content: "HTML5";
    width: 12rem;
    height: 12rem; 
    position: absolute;
    top: 0;
    left: 0;
    background: black content-box;
    border-radius: 50%;
    padding: .5em;
    font-size: 2rem;
    box-sizing: border-box; 
    color: white;
    text-align: center;
    line-height: 8rem; 
    transform: rotate(var(--gradosMenos));  
}
.cricular_progress::after{
    content: "50%";
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(
        transparent 50%,
        #000 50%
    );   
    transform: scale(1.1) rotate(var(--gradosMenos));  
    font-size: 1rem;
    color: white;
    text-align: center;
    line-height: 13rem; 
}
form{
    position: relative;
    z-index: 30; 
}